Repository STEMers/stemers-frontend-netlify, pull requests merged in 2022-06, with the labels that each got.

#5 A good start
  src/App.css
  src/App.js
  src/components/footer/Footer.css
  src/components/footer/Footer.jsx
  src/logo.svg
  src/logo1.svg
  yarn.lock
Labels: components

#7 STEMers HTML structure and router
  package.json
  src/App.js
  src/components/about/About.js
  src/components/about/styles.css
  src/components/footer/Footer.js
  src/components/footer/styles.css
  src/components/header/Header.js
  src/components/header/styles.css
  src/components/home/Home.js
  src/components/home/styles.css
  src/components/profile/Profile.js
  src/components/profile/styles.css
  src/components/sign-in/SignInOrSignUp.js
  src/components/sign-in/styles.css
  src/logo.png
  src/logo.svg
  yarn.lock
Labels: html, components, template

#10 add github deploying route, fix pages display issue
  src/App.js
Labels: bug, enhancement

#11 Dev netlify deploy
  src/App.js
Labels: deployment

#13 Signup signin
  package.json
  public/index.html
  src/App.js
  src/components/sign-in/SignInOrSignUp.js
  src/components/sign-in/styles.css
  yarn.lock
Labels: enhancement, components, signIn/SignUP, must-have

#14 Dev footer
  src/components/footer/Footer.js
  src/components/footer/styles.css
Labels: css, components, react

#16 Stars page
  src/App.js
  src/components/hooks/useFetch.js
  src/components/stars/Stars.js
  src/components/stars/styles.css
  src/config.js
Labels: enhancement, react

#18 adding css for footer
  src/components/footer/Footer.js
  src/components/footer/styles.css
Labels: css, components, react

#20 Landing page
  package.json
  src/App.js
  src/components/header/Header.js
  src/components/header/styles.css
  src/components/home/Home.js
  src/components/home/featured-star/Star.jsx
  src/components/home/featured-star/styles.css
  src/components/home/intro/Intro.jsx
  src/components/home/intro/button/Button.jsx
  src/components/home/intro/button/styles.css
  src/components/home/intro/styles.css
  src/components/home/star-images/StarImage.jsx
  src/components/home/star-images/styles.css
  src/components/home/styles.css
  src/json-data/home/.comments/photo.jpg.xml
  src/json-data/home/Stars.js
  src/json-data/home/badge1.png
  src/json-data/home/badge2.png
  src/json-data/home/badge3.png
  src/json-data/home/caroline.png
  src/json-data/home/cristi.png
  src/json-data/home/gelila.png
  src/json-data/home/haifa.png
  src/json-data/home/iva.png
  src/json-data/home/raza.png
  src/json-data/home/sarah.png
  src/json-data/home/shikka.png
  src/json-data/home/star-img.png
  src/json-data/nav/logo.png
  src/json-data/nav/logo1.svg
  src/json-data/nav/photo.jpg
  src/normalize.css
  yarn.lock
Labels: css, js, components, react

#27 Profile update
  src/components/profile/profile-main/ProfileMain.js
  src/hooks/index.js
  src/hooks/useFetchUser.js
Labels: bug, enhancement, react

#28 About us
  package-lock.json
  package.json
  src/components/about/About.js
  src/components/about/developers/Developer.jsx
  src/components/about/developers/styles.css
  src/components/about/styles.css
  src/components/header/styles.css
  src/json-data/about/abu.jpeg
  src/json-data/about/alina.jpeg
  src/json-data/about/ashenafi.jpg
  src/json-data/about/badge1.png
  src/json-data/about/badge2.png
  src/json-data/about/badge3.png
  src/json-data/about/checklist.webp
  src/json-data/about/developers.js
  src/json-data/about/sanne.jpeg
  yarn.lock
Labels: css, js, react

#21 adding social media icons with links to footer
  src/components/footer/Footer.js
  src/components/footer/styles.css
Labels: css, components, react

#31 rewrite sign in/sign up page and structure app
  package-lock.json
  package.json
  src/App.js
  src/components/continue-with-linked-in/ContinueWithLinkedIn.js
  src/components/continue-with-linked-in/styles.css
  src/components/flex-box/FlexBox.js
  src/components/login-form/LoginForm.js
  src/components/login-form/LoginForm.module.css
  src/components/register-form/RegisterForm.js
  src/components/sign-in/SignInOrSignUp.js
  src/components/sign-in/styles.css
  src/routes/Login.js
  src/routes/Register.js
  src/routes/index.js
Labels: enhancement, components, react

#41 Stars update
  src/components/stars/Stars.js
  src/components/stars/user/User.js
Labels: bug, enhancement, react

#53 Login psw
  src/components/login-form/LoginForm.js
  src/components/register-form/RegisterForm.js
Labels: bug

#51 Navbar links updated
  src/components/header/Header.js
Labels: enhancement

#55 invitation
  public/index.html
  src/App.js
  src/components/header/Header.js
  src/components/home/featured-star/Star.jsx
  src/components/invitation/Invite.jsx
  src/components/invitation/styles.css
  src/components/login-form/LoginForm.module.css
  src/components/profile/profile-main/EditProfile.jsx
  src/components/profile/profile-main/ProfileMain.js
  src/config.js
  src/hooks/voteStar.js
  src/json-data/about/developers.js
Labels: enhancement, components

#57 Bug in Invitation page and default attributes for data from stars
  src/components/header/Header.js
  src/components/header/styles.css
  src/components/home/featured-star/Star.jsx
  src/components/invitation/Invite.jsx
  src/components/profile/profile-main/ProfileMain.js
Labels: bug, enhancement

#58 Bugs fixed at homepage and stars page
  src/components/home/featured-star/Star.jsx
  src/components/stars/Stars.js
Labels: bug

#61 stars page updated and some minor tweaks
  package.json
  src/components/home/featured-star/Star.jsx
  src/components/home/intro/Intro.jsx
  src/components/invitation/Invite.jsx
  src/components/profile/profile-main/ProfileMain.js
  src/components/stars/Stars.js
  src/components/stars/styles.css
  src/routes/Login.js
  yarn.lock
Labels: enhancement

#63 Auto login after registration
  src/routes/Register.js
Labels: react

#62 User must nominate a star once
  src/components/header/Header.js
  src/components/home/featured-star/Star.jsx
  src/components/home/featured-star/styles.css
  src/components/invitation/Invite.jsx
  src/components/profile/profile-main/ProfileMain.js
  src/components/stars/Stars.js
  src/images/default.jpg
Labels: js, components, react

#64 User can update profile
  src/components/header/Header.js
  src/components/profile/profile-main/EditProfile.jsx
  src/components/profile/profile-main/ProfileMain.js
  src/components/profile/profile-main/styles.css
  src/hooks/updateProfile.js
  src/routes/Login.js
  src/routes/Register.js
Labels: html, css, js, components, react, strapi

#65 about us page updated with real texts
  src/components/about/About.js
  src/components/about/developers/styles.css
  src/components/about/styles.css
  src/hooks/uploadImage.js
  src/images/badge1.png
  src/images/badge2.png
  src/images/badge3.png
  src/json-data/about/developers.js
Labels: enhancement, css

#66 Social media sharing buttons are added
  package.json
  public/index.html
  src/components/header/Header.js
  src/components/invitation/Invite.jsx
  src/components/invitation/styles.css
  yarn.lock
Labels: enhancement

#67 User can upload profile photo
  package.json
  src/components/profile/profile-main/EditProfile.jsx
  src/components/profile/profile-main/ProfileMain.js
  src/config.js
  src/hooks/uploadImage.jsx
  src/images/default2.jpg
  yarn.lock
Labels: enhancement, css, js, components, react, must-have, backend

#68 Badges and stars filters updated
  src/components/home/featured-star/Star.jsx
  src/components/stars/Stars.js
  src/components/stars/user/User.js
  src/config.js
  yarn.lock
Labels: enhancement

#69 Filters are not working then removed
  src/components/home/featured-star/Star.jsx
  src/components/stars/Stars.js
Labels: bug
